html, body{
    background: #fafafa;
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    letter-spacing: -0.8px;
    color: #353535;

}

.icon-border-box {

    border: 5px solid #eee;
    padding: 15px 20px 15px;

}

.navbar {

    padding: 0rem 1rem;
    background-color: #212121;

}

.footer p,a {

    color: #4e4c3c;

}

.footer-list-item li a {

    color: #4e4c3c;

}

.footer-list-item li a:hover {

    color: #3cb4e5;

}

.dropdown-menu .dropdown-item, .mega-inner-nav li a{
    color: #4e4c3c;
}